<div class="container">
    <div class="row">
        <div class="col-8">
            <h3>Registro de mercancia</h3>
            <hr>
            <form [formGroup]="formulario">
                <div class="mb-3">
                    <label class="form-label">Nombre</label>
                    <input type="text" class="form-control" formControlName="nombre">
                  </div>
                <div class="mb-3">
                    <label class="form-label">Descripcion</label>
                    <input type="text" class="form-control" formControlName="descripcion">
                  </div>
                <div class="mb-3">
                    <label class="form-label">Fecha Entrega</label>
                    <input type="date" class="form-control" formControlName="fechaEntrega">
                  </div>
                <div class="mb-3">
                    <label class="form-label">Motivo Devolucion</label>
                    <input type="text" class="form-control" formControlName="motivoDevolucion">
                  </div>
                <div class="mb-3">
                    <label class="form-label">Volumen Ocupa</label>
                    <input type="number" class="form-control" formControlName="volumenOcupa">
                  </div>
                <!-- <div class="mb-3">
                    <label class="form-label">Zona</label>
                    <input type="text" class="form-control">
                  </div> -->
                 <button type="submit" class="btn btn-primary w-100">Registrar</button> 
            </form>
        </div>
    </div>
</div>