<app-menu></app-menu>
<section class="banner text-center text-white fw-bold">
    <h2>Logistica Compumundo Hipermegared S.A.</h2>
    <h4>Vision</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt odio aspernatur iure ratione nulla repudiandae, id distinctio ducimus perspiciatis similique neque commodi, quas dolorum! Quaerat exercitationem quasi corrupti ducimus maxime.</p>
</section>
<app-acercade></app-acercade>
<section class="banner2"></section>
<section>
    <div class="container my-5">
        <div class="row row-cols-1 row-cols-md-2 g-3">
            <div class="col" *ngFor="let carga of cargamento">
                <div class="card h-100 shadow p-4">
                    <h2>Nombre: {{carga.nombre}}</h2>
                    <p><strong>Descripcion: </strong>{{carga.descripcion}}</p>
                    <p><strong>Fecha Entrega: </strong>{{carga.fecha| date:'fullDate'}}</p>
                    <p><strong>Motivo Devolucion: </strong>{{carga.motivoDevolucion}}</p>
                    <p><strong>Volumen Ocupa: </strong>{{carga.volumenOcupa}}</p>
                    <!-- <p><strong>Zona: </strong>{{carga.zona.nombre}}</p> -->
                    
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <app-formulario></app-formulario>
</section>

